body {
  margin: 0px;
  font-family: sans-serif;
}

body {
  text-size-adjust: none;
}

header {
  padding: 25px 15px;
  color: #29abe2;
  font-size: 36px;
  font-weight: bold;
  text-align: center;
  font-family: 'M PLUS Rounded 1c', sans-serif;
}
/*リンク*/
a{
  color: inherit;
  text-decoration: none;
}

a:hover {
  opacity: 0.7;
}


nav ul {
  list-style-type: none;
  padding: 0;
  font-size: 12px;
  display: flex;
  justify-content: center;
  color: #666666
}

nav li:not(:last-child) {
  margin-right: 20px;
}

.topics ul {
  list-style-type: none;
  padding: 0;
}

.topics a {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.topics img {
  vertical-align: bottom;
}

.topics figure {
  width: 100px;
  flex: none;
}

.topics h3 {
  font-size: 14px;
  margin-top: 0px;
  margin-bottom: : 0;
  margin-left: 10px;
}

h1 {
  font-size: 30px;
}

p {
  line=height: 2;
}

img{
  width:100%;
  height: auto;
}

figure{
  margin:0;
}

/* 投稿日 */
　time {
  color: #666666;
  margin-bottom: 15px;
  dysplay: block;
}

/*サブメニュー*/
aside {
  background-color: #ffffff;
  padding: 20px;
  margin-top: 40px;
}

/*サブメニュープロフィール*/
.profile img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.profile figure {
  text-align: center;
}

.profile p {
  font-size: 14px;
  text-align: center;
}

h2 {
  color: #29abe2;
  font-family: 'M PLUS Rounded 1c', sans-serif;
  font-weight: normal;
  text-align: center;
}

article {
  background-color: #ffffff;
  padding: 20px;
}

.contents {
  background-color: #29abe2;
  padding: 40px 15px;
}

footer {
  background-color:#6ac4eb;
  padding: 25px 15px;
  color: #ffffff;
  font-size: 14px;
  text-align: center;
  font-family: 'M PLUS Rounded 1c', sans-serif;
}

/* ==== PC版 ====*/
@media (min-width: 1025px) {


/*PC版コンテナ*/
.container {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

/*PC版「ヘッダー」ブロック内のコンテナ*/
header .container {
  display: flex;
  justify-content: space-between;
}

/*pc版記事*/
article {
  padding-left: 60px;
  padding-right: 60px;
}

h1 {
  font-size: 40px;
}

p {
  font-size: 18px;
}


/* ==== PC版の設定ここまで ====*/

/*PC版（大）：コンテナ*/
.container {
  max-width: 1100px;
}

/*PC【大】「コンテンツ」ブロック内のコンテナ*/
.contents .container {
  display: flex;
  justify-content: space-between;
}

/*Pc版大記事*/
article {
  width: 68%;
  box-sizing: border-box;
}

/*PC版（大）：サブメニュー*/
.sub {
  width: 28%;
}

/*PC版（大）：プロフィール*/
.profile {
  margin-top: 0;
}

}
